/* свойства, установленные для всей видимой
в браузере части страницы */
.page {
    background-color: #161819; /* страница имеет тёмный фон */
    color: white;              /* цвет текста - белый */
    font-family: 'Lora';         /* шрифт, кроме оговорённых отдельно случаев, —  'Lora' */
    padding: 120px 0;            /* внутренние отступы сверху и снизу по 120 пикселей, справа и слева нулевые */
  